[Unit]
Description=Run Restic Docker Swarm Backup
Requires=restic-backup.service

[Timer]
OnCalendar={{ restic_backup_schedule | default('*-*-* 02:00:00') }}
Persistent=true
RandomizedDelaySec={{ restic_backup_randomized_delay | default('1800') }}

[Install]
WantedBy=timers.target 