[Unit]
Description=Run Restic Repository Maintenance
Requires=restic-maintenance.service

[Timer]
OnCalendar={{ restic_maintenance_schedule | default('Sun *-*-* 03:00:00') }}
Persistent=true
RandomizedDelaySec={{ restic_maintenance_randomized_delay | default('3600') }}

[Install]
WantedBy=timers.target 