# Logrotate configuration for Restic backup logs
{{ restic_backup_root }}/logs/*.log {
    daily
    rotate 14
    compress
    compresscmd /usr/bin/gzip
    compressext .gz
    delaycompress
    missingok
    notifempty
    create 0644 root root
    postrotate
        /usr/bin/systemctl reload rsyslog > /dev/null 2>&1 || true
    endscript
} 