---
# =============================================================================
# Extension Fields (Reusable Blocks)
# =============================================================================

x-common-env: &common-env
  PGID: ${PGID_SHARED:-3000}
  UMASK: "002"
  TZ: ${TZ_MAIN}

x-vpn-env: &vpn-env
  VPN_ENABLED: "true"
  VPN_PROVIDER: pia
  VPN_PIA_USER: ${PIA_USERNAME}
  VPN_PIA_PASS: ${PIA_PASSWORD}
  VPN_PIA_PREFERRED_REGION: ${PIA_REGION}
  VPN_LAN_NETWORK: ${VPN_LAN_NETWORK}

x-common-settings: &common-settings
  restart: unless-stopped
  networks:
    - home-network

x-vpn-cap: &vpn-cap
  cap_add:
    - NET_ADMIN

x-traefik-common: &traefik-common
  traefik.enable: "true"
  traefik.docker.network: home-network

# =============================================================================
# Services
# =============================================================================

services:
  # ---------------------------------------------------------------------------
  # Sonarr - TV Show Management
  # ---------------------------------------------------------------------------
  sonarr:
    image: ghcr.io/hotio/sonarr:latest
    container_name: sonarr
    hostname: sonarr.internal
    <<: *common-settings
    environment:
      PUID: ${PUID_SONARR:-1010}
      <<: *common-env
    volumes:
      - ${BASE_CONFIG_PATH}/sonarr-config:/config
      - ${BASE_DATA_PATH}:/data
    labels:
      <<: *traefik-common
      traefik.http.routers.sonarr-http.rule: Host(`${SONARR_DOMAIN}`)
      traefik.http.routers.sonarr-http.entrypoints: web
      traefik.http.routers.sonarr-http.service: sonarr
      traefik.http.routers.sonarr-http.middlewares: sonarr-redirect
      traefik.http.routers.sonarr-https.rule: Host(`${SONARR_DOMAIN}`)
      traefik.http.routers.sonarr-https.entrypoints: websecure
      traefik.http.routers.sonarr-https.tls: "true"
      traefik.http.routers.sonarr-https.tls.certresolver: letsencrypt
      traefik.http.routers.sonarr-https.service: sonarr
      traefik.http.services.sonarr.loadbalancer.server.port: "8989"
      traefik.http.middlewares.sonarr-redirect.redirectscheme.scheme: https

  # ---------------------------------------------------------------------------
  # Radarr - Movie Management
  # ---------------------------------------------------------------------------
  radarr:
    image: ghcr.io/hotio/radarr:latest
    container_name: radarr
    hostname: radarr.internal
    <<: *common-settings
    environment:
      PUID: ${PUID_RADARR:-1010}
      <<: *common-env
    volumes:
      - ${BASE_CONFIG_PATH}/radarr-config:/config
      - ${BASE_DATA_PATH}:/data
    labels:
      <<: *traefik-common
      traefik.http.routers.radarr-http.rule: Host(`${RADARR_DOMAIN}`)
      traefik.http.routers.radarr-http.entrypoints: web
      traefik.http.routers.radarr-http.service: radarr
      traefik.http.routers.radarr-http.middlewares: radarr-redirect
      traefik.http.routers.radarr-https.rule: Host(`${RADARR_DOMAIN}`)
      traefik.http.routers.radarr-https.entrypoints: websecure
      traefik.http.routers.radarr-https.tls: "true"
      traefik.http.routers.radarr-https.tls.certresolver: letsencrypt
      traefik.http.routers.radarr-https.service: radarr
      traefik.http.services.radarr.loadbalancer.server.port: "7878"
      traefik.http.middlewares.radarr-redirect.redirectscheme.scheme: https

  # ---------------------------------------------------------------------------
  # Prowlarr - Indexer Management (VPN Enabled)
  # ---------------------------------------------------------------------------
  prowlarr:
    image: ghcr.io/hotio/prowlarr:testing
    container_name: prowlarr
    hostname: prowlarr.internal
    <<: [*common-settings, *vpn-cap]
    environment:
      PUID: ${PUID_PROWLARR:-1010}
      WEBUI_PORTS: 9696/tcp
      <<: [*common-env, *vpn-env]
    volumes:
      - ${BASE_CONFIG_PATH}/prowlarr-config:/config
    labels:
      <<: *traefik-common
      traefik.http.routers.prowlarr-http.rule: Host(`${PROWLARR_DOMAIN}`)
      traefik.http.routers.prowlarr-http.entrypoints: web
      traefik.http.routers.prowlarr-http.service: prowlarr
      traefik.http.routers.prowlarr-http.middlewares: prowlarr-redirect
      traefik.http.routers.prowlarr-https.rule: Host(`${PROWLARR_DOMAIN}`)
      traefik.http.routers.prowlarr-https.entrypoints: websecure
      traefik.http.routers.prowlarr-https.tls: "true"
      traefik.http.routers.prowlarr-https.tls.certresolver: letsencrypt
      traefik.http.routers.prowlarr-https.service: prowlarr
      traefik.http.services.prowlarr.loadbalancer.server.port: "9696"
      traefik.http.middlewares.prowlarr-redirect.redirectscheme.scheme: https

  # ---------------------------------------------------------------------------
  # qBittorrent - Torrent Client (VPN Enabled)
  # ---------------------------------------------------------------------------
  qbittorrent:
    image: ghcr.io/hotio/qbittorrent:latest
    container_name: qbittorrent
    hostname: qbittorrent.internal
    <<: [*common-settings, *vpn-cap]
    environment:
      PUID: ${PUID_QBITTORRENT:-1010}
      WEBUI_PORTS: ${QBITTORRENT_WEBUI_PORT:-8080}/tcp
      LIBTORRENT: ${LIBTORRENT:-v1}
      VPN_PIA_PORT_FORWARD_PERSIST: ${VPN_PIA_PORT_FORWARD_PERSIST:-false}
      VPN_AUTO_PORT_FORWARD: ${VPN_AUTO_PORT_FORWARD:-true}
      <<: [*common-env, *vpn-env]
    volumes:
      - ${BASE_CONFIG_PATH}/qbittorrent-config:/config
      - ${BASE_DATA_PATH}:/data
    labels:
      <<: *traefik-common
      traefik.http.routers.qbittorrent-http.rule: Host(`${QBITTORRENT_DOMAIN}`)
      traefik.http.routers.qbittorrent-http.entrypoints: web
      traefik.http.routers.qbittorrent-http.service: qbittorrent
      traefik.http.routers.qbittorrent-http.middlewares: qbittorrent-redirect
      traefik.http.routers.qbittorrent-https.rule: Host(`${QBITTORRENT_DOMAIN}`)
      traefik.http.routers.qbittorrent-https.entrypoints: websecure
      traefik.http.routers.qbittorrent-https.tls: "true"
      traefik.http.routers.qbittorrent-https.tls.certresolver: letsencrypt
      traefik.http.routers.qbittorrent-https.service: qbittorrent
      traefik.http.services.qbittorrent.loadbalancer.server.port: ${QBITTORRENT_WEBUI_PORT:-8080}
      traefik.http.middlewares.qbittorrent-redirect.redirectscheme.scheme: https

  # ---------------------------------------------------------------------------
  # Bazarr - Subtitle Management
  # ---------------------------------------------------------------------------
  bazarr:
    image: ghcr.io/hotio/bazarr:latest
    container_name: bazarr
    hostname: bazarr.internal
    <<: *common-settings
    environment:
      PUID: ${PUID_BAZARR:-1010}
      <<: *common-env
    volumes:
      - ${BASE_CONFIG_PATH}/bazarr-config:/config
      - ${BASE_DATA_PATH}:/data
    labels:
      <<: *traefik-common
      traefik.http.routers.bazarr-http.rule: Host(`${BAZARR_DOMAIN}`)
      traefik.http.routers.bazarr-http.entrypoints: web
      traefik.http.routers.bazarr-http.service: bazarr
      traefik.http.routers.bazarr-http.middlewares: bazarr-redirect
      traefik.http.routers.bazarr-https.rule: Host(`${BAZARR_DOMAIN}`)
      traefik.http.routers.bazarr-https.entrypoints: websecure
      traefik.http.routers.bazarr-https.tls: "true"
      traefik.http.routers.bazarr-https.tls.certresolver: letsencrypt
      traefik.http.routers.bazarr-https.service: bazarr
      traefik.http.services.bazarr.loadbalancer.server.port: "6767"
      traefik.http.middlewares.bazarr-redirect.redirectscheme.scheme: https

  # ---------------------------------------------------------------------------
  # FlareSolverr - Cloudflare Bypass
  # ---------------------------------------------------------------------------
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    hostname: flaresolverr.internal
    <<: *common-settings
    environment:
      LOG_LEVEL: ${LOG_LEVEL:-info}
      LOG_HTML: ${LOG_HTML:-false}
      CAPTCHA_SOLVER: ${CAPTCHA_SOLVER:-none}
      TZ: ${TZ_MAIN}

  # ---------------------------------------------------------------------------
  # Plex - Media Server
  # ---------------------------------------------------------------------------
  plex:
    image: plexinc/pms-docker
    container_name: plex
    hostname: plex.internal
    <<: *common-settings
    environment:
      TZ: ${TZ_MAIN}
      PLEX_UID: 1010
      PLEX_GID: 3000
      ADVERTISE_IP: http://192.168.29.131:32400
    volumes:
      - ${BASE_CONFIG_PATH}/plex-config:/config
      - ${BASE_DATA_PATH}:/data
    ports:
      - "192.168.29.131:32400:32400/tcp" # Plex Media Server
      - "192.168.29.131:32410:32410/udp" # GDM discovery
      - "192.168.29.131:32412:32412/udp" # GDM discovery
      - "192.168.29.131:32413:32413/udp" # GDM discovery
      - "192.168.29.131:32414:32414/udp" # GDM discovery
    labels:
      <<: *traefik-common
      traefik.http.routers.plex-http.rule: Host(`${PLEX_DOMAIN}`)
      traefik.http.routers.plex-http.entrypoints: web
      traefik.http.routers.plex-http.service: plex
      traefik.http.routers.plex-http.middlewares: plex-redirect
      traefik.http.routers.plex-https.rule: Host(`${PLEX_DOMAIN}`)
      traefik.http.routers.plex-https.entrypoints: websecure
      traefik.http.routers.plex-https.tls: "true"
      traefik.http.routers.plex-https.tls.certresolver: letsencrypt
      traefik.http.routers.plex-https.service: plex
      traefik.http.services.plex.loadbalancer.server.port: ${PLEX_PORT:-32400}
      traefik.http.middlewares.plex-redirect.redirectscheme.scheme: https

  # ---------------------------------------------------------------------------
  # Jellyseerr - Media Request Management (VPN Enabled)
  # ---------------------------------------------------------------------------
  jellyseerr:
    image: ghcr.io/hotio/seerr:release
    container_name: jellyseerr
    hostname: jellyseerr.internal
    <<: [*common-settings, *vpn-cap]
    environment:
      PUID: ${PUID_JELLYSEERR:-1000}
      LOG_LEVEL: debug
      PORT: ${JELLYSEERR_PORT:-5055}
      WEBUI_PORTS: ${JELLYSEERR_PORT:-5055}/tcp
      <<: [*common-env, *vpn-env]
    volumes:
      - ${BASE_CONFIG_PATH}/jellyseerr-config:/config
    labels:
      <<: *traefik-common
      traefik.http.routers.jellyseerr-http.rule: Host(`${JELLYSEERR_DOMAIN}`)
      traefik.http.routers.jellyseerr-http.entrypoints: web
      traefik.http.routers.jellyseerr-http.service: jellyseerr
      traefik.http.routers.jellyseerr-http.middlewares: jellyseerr-redirect
      traefik.http.routers.jellyseerr-https.rule: Host(`${JELLYSEERR_DOMAIN}`)
      traefik.http.routers.jellyseerr-https.entrypoints: websecure
      traefik.http.routers.jellyseerr-https.tls: "true"
      traefik.http.routers.jellyseerr-https.tls.certresolver: letsencrypt
      traefik.http.routers.jellyseerr-https.service: jellyseerr
      traefik.http.services.jellyseerr.loadbalancer.server.port: ${JELLYSEERR_PORT:-5055}
      traefik.http.middlewares.jellyseerr-redirect.redirectscheme.scheme: https

# =============================================================================
# Networks
# =============================================================================

networks:
  home-network:
    external: true
