{
  "root": "/home/step/certs/root_ca.crt",
  "federatedRoots": null,
  "crt": "/home/step/certs/intermediate_ca.crt",
  "key": "/home/step/secrets/intermediate_ca_key",
  "address": ":9000",
  "insecureAddress": "",
  "dnsNames": [
    "ca.home",
    "step-ca",
    "localhost"
  ],
  "logger": {
    "format": "text"
  },
  "db": {
    "type": "badger",
    "dataSource": "/home/step/db",
    "badgerFileLoadingMode": ""
  },
  "authority": {
    "provisioners": [
      {
        "type": "JWK",
        "name": "admin@homeserver.local",
        "key": {
          "use": "sig",
          "kty": "EC",
          "kid": "generated-key-id",
          "crv": "P-256",
          "alg": "ES256",
          "x": "generated-x-value",
          "y": "generated-y-value"
        },
        "encryptedKey": "generated-encrypted-key"
      },
      {
        "type": "ACME",
        "name": "acme",
        "challenges": [
          "http-01",
          "tls-alpn-01"
        ],
        "claims": {
          "maxTLSCertDuration": "8760h",
          "defaultTLSCertDuration": "720h",
          "disableRenewal": false,
          "allowRenewalAfterExpiry": false
        }
      }
    ]
  },
  "tls": {
    "cipherSuites": [
      "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
    ],
    "minVersion": 1.2,
    "maxVersion": 1.3,
    "renegotiation": false
  },
  "templates": {
    "ssh": {},
    "data": {}
  }
} 